
body{
    width: 70%;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
button {
    margin: auto;
}

#form, button {
margin-top: 30px;
flex-direction: row;
};
table {
    width: 20%;
    background-color: burlywood;
    color: crimson;
}