ul, li {
    list-style: none;
    padding-top: 10px;
}
table {
    background-color:cyan;
    width: 100%;
    margin: 10px;
}
table tr  {
    background-color: cadetblue;
    margin: 10px;
    padding: a10pxuto;
}
table tr td {
    text-decoration: antiquewhite;

}
